{% if path == "app_order_details" %}
<div class="footer bg-dark text-white">
  <p> &copy; Quantic Factory 2023</p>
</div>
{% else %}
<div class="footer bg-dark text-white" style="position: fixed;">
  <p> &copy; Quantic Factory 2023</p>
</div>
{% endif %}